<div class="container">
    <div class="options">
        <h3>Select the food you want to add to {{meal.[0].name}}</h3>
        <form class="add-form" method="post" action="/dashboard/add/{{meal.[0].id}}">
            <select name="food">
                {{#each foods}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
            <input type="number" name="quantity" placeholder="Enter a quantity (g) ...">
            <input type="submit" value="Accept">
        </form>
    </div>
</div>

    {{> footer }}