<div class="container">
    <div class="meal">
        {{#each meals}}
            <div class="meal-box">
                <div class="meal-item meal-header">
                    <h3>{{name}}</h3>
                    <span>105 kcal</span>
                    <span>Carbs: 25g</span>
                    <span>Protein: 123g</span>
                    <span>Fats: 31g</span>
                    <span>Quantity</span>
                </div>
                <hr>
            </div>
            <div class="meal-item meal-add">
                <a href="/dashboard/add/{{id}}"><i class="fa-regular fa-plus"></i>Add</a>
            </div>
        {{/each}}
    </div>
</div>

    {{> footer }}

<script src="javascript/index.js"></script>