* {
    margin: 0;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;
    color: #ffffff;
    font-size: 16px;
}

body {
    width: 100vw;
    background-color: #2a2a2a;
}

hr {
    border-top: 1px solid #ffffff;
    border-bottom: none;
}

.container {
    margin-top: 80px;
    margin-bottom: 105px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .meal {
    width: 800px;
}

.container .meal .meal-item {
    display: grid;
    grid-template-columns: 1fr 120px 120px 120px 120px 100px;
    padding: 5px;
    margin: 5px;
}

.container .meal .meal-box .meal-header h3 {
    font-size: 24px;
}

.container .meal .meal-box .meal-header span {
    margin-top: 5px;
    font-weight: bold;
}

.container .meal .meal-box .meal-item h5 {
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.container .meal .meal-box .meal-item h5 button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.container .meal .meal-box .meal-item h5 button:hover {
    background-color: #111111;
}

.container .meal .meal-box .meal-item h5 button i {
    font-size: 12px;
    text-align: center;
    color: #999999;
}

.container .meal .meal-box .meal-item span {
    text-align: right;
}

.container .meal .meal-box .meal-item div {
    width: 100%;
    display: flex;
}

.container .meal .meal-box .meal-item div input[type=number] {
    -moz-appearance: textfield;
    outline: none;
    width: 100%;
    margin-left: 30px;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    text-align: right;
}

.container .meal .meal-add {
    padding: 0;
    margin: 0;
}

.container .meal .meal-add button {
    background-color: transparent;
    color: #999999;
    border: none;
    border-radius: 4px;
    text-align: left;
    padding: 10px;
    cursor: pointer;
}

.container .meal .meal-add button:hover {
    background-color: #111111;
}

.container .meal .meal-add button i {
    margin-right: 10px;
    color: #999999;
}