<footer>
    <div class="goals">
        <div class="goals-item goals-title">Energía (kcal)</div>
        <div class="goals-item goals-title">Carbohidratos (g)</div>
        <div class="goals-item goals-title">Proteinas (g)</div>
        <div class="goals-item goals-title">Grasas (g)</div>
        <div class="goals-item">1839 / 2500</div>
        <div class="goals-item">234 / 220</div>
        <div class="goals-item">76 / 90</div>
        <div class="goals-item">47 / 50</div>
    </div>
</footer>