<nav>
    <div class="logo">
        <h1>Nutrition</h1>
        <span>by <a href="https://github.com/Morsoth119" target="_blank">Morsoth</a></span>
    </div>
    <div class="menu">
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/food">Food</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/signup">Sign Out</a></li>
        </ul>
    </div>
</nav>