<div class="container">
    <form class="signup-form" action="/signup" method="post">
        <h3>SignUp</h3>
        <label>USERNAME</label>
        <input type="text" name="username" placeholder="Enter your username..." autocomplete="off">
        <label>FULL NAME</label>
        <input type="text" name="fullname" placeholder="Enter your full name..." autocomplete="off">
        <label>PASSWORD</label>
        <input type="password" name="password" placeholder="Enter your password..." autocomplete="off">
        <input type="submit" value="SignUp">
    </form>
</div>